<section class="bg-black h-screen w-screen text-center overflow-hidden relative">
    <div class="z-30 relative h-full flex flex-col items-center">
      <header>
        <h2 class="text-white pt-40 text-[40px] font-medium">Model S</h2>
        <p class="text-white text-base underline">Concertar una prueba de conduccion</p>
      </header>
      <footer class="flex flex-col flex-grow justify-end pb-24">
        <div class="gap-x-4 flex mx-auto">
            <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="#">
                Explorar inventario
            </a>
            <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="#">
                Pedido personalizados
            </a>
        </div>
      </footer>
    </div>
  
    <div class="absolute inset-0 z-10">
      <img src="./model-3.avif" alt="Model S" class="h-full w-full object-cover object-center" />
    </div>
  </section>